.auth-container {

  height: 100vh;
  .auth-login {
    background-color: var( --pp-gray-4);

    &--welcome h2 {
      font-family: var(--pp-font-family-montserrat) !important;
      color: var(--pp-black-2);
      font-size: 30px;
    }
  }

  ::ng-deep .p-inputgroup-addon {
    background: transparent;
  }
}

.auth-banner {
  background-color: var(--pp-white);
}