:root {
  --pp-font-family-roboto: 'Roboto', sans-serif;
  --pp-font-family-montserrat: 'Montserrat', sans-serif;

  --pp-font-size-12: '12px';
  --pp-font-size-14: '14px';
  --pp-font-size-16: '16px';

  --pp-white: #FFFFFF;
  --pp-gray-1: #979797;
  --pp-gray-2: #E6ECF0;
  --pp-gray-3: #69788C;
  --pp-gray-4: #F2F2F2;
  --pp-gray-5: #F5F8FA;

  --pp-black-1: #000000;
  --pp-black-2: #333333;
  --pp-black-3: #2D3540;


  --pp-blue-1: #007DFE;
  --pp-blue-2: #002D69;

  --pp-fw-light: 300;
  --pp-fw-normal: 400;
  --pp-fw-medium: 500;
  --pp-fw-semibold: 600;
  --pp-fw-bold: 700;
}
