.ic-search {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  margin-top: -.5rem;
}

.tr-payments {
  p {
    font-size: var(--pp-font-size-14);
    color: var(--pp-black-2);
  }

  span {
    padding-top: 15px;
    color: var(--pp-gray-3);
    font-size: var(--pp-font-size-12);
  }
}
